.form {
  display: flex;
  flex-direction: column;
}

.descriptionField {
  padding: 12px;

  border: none;
  border-bottom: 1px solid grey;

  resize: none;
}

.descriptionField::placeholder {
  color: 'inherit';
}

.descriptionField:hover {
  background-color: var(--bg-input-hover);
}
