@import 'modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  padding: 0;
}

body {
  margin: 0;

  font-family: 'Roboto', 'Playfair Display', sans-serif;
  font-weight: 400;

  color: var(--black-bg);
  background-color: var(--white-bg-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --black-bg: #1a1a1a;
  --black-bg-transparent: rgba(26, 26, 26, 0.5);
  --white-bg-text: #e8eaee;
  --grey-border: #dad8d8;
}

.container {
  width: 1280px;
  padding: 0 32px;
  margin: 0 auto;
}

/*--- SWIPER ---*/
.swiper {
  width: 1150px;
  height: 200px;
}

.swiper-slide {
  width: calc((1150px - 48px) / 3) !important;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
}

.swiper-button-prev {
  left: 32px !important;
}

.swiper-button-next {
  right: 32px !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: calc(165px / 2);

  background-color: transparent;
  color: var(--black-bg) !important;

  border: none;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: var(--black-bg-transparent);
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  background-color: var(--black-bg) !important;
}

/*--- MUI STYLES ---*/
.MuiCardHeader-title {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box !important;
}

.MuiButtonBase-root {
  display: block !important;

  text-transform: initial !important;
  font-size: 20px !important;
  font-weight: 300 !important;
}
