@import 'modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  padding: 0;
}

body {
  margin: 0;

  font-family: 'Roboto', 'Playfair Display', sans-serif;
  font-size: 20px;
  line-height: 1.14;
  font-weight: 400;

  color: var(--black-bg);
  background-color: var(--white-bg-text);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --black-bg: #1a1a1a;
  --black-bg-transparent: rgba(26, 26, 26, 0.5);
  --white-bg-text: #e8eaee;
  --grey-border: #dad8d8;
  --input-border-color: rgba(0, 0, 0, 0.42);
  --input-border-color-hover: rgba(0, 0, 0, 0.87);
  --bg-input-hover: rgba(0, 0, 0, 0.09);
  --error-color: #9c3333;

  --accent-color-primary: #1d6e5d;
  --accent-color-secondary: #55ad9a;
}

.container {
  width: 1280px;
  padding: 0 32px;
  margin: 0 auto;
}

/*--- SWIPER ---*/
.swiper {
  width: 1150px;
  height: 400px;
}

.swiper-slide {
  width: calc((1150px - 48px) / 3) !important;
  min-height: 190px !important;
  height: max-content;
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
}

.swiper-button-prev {
  left: 32px !important;
}

.swiper-button-next {
  right: 32px !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: calc(190px / 2);

  background-color: transparent;
  color: var(--accent-color-primary) !important;

  border: none;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: var(--black-bg-transparent);
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  background-color: var(--accent-color-primary) !important;
}

/*--- MUI STYLES ---*/
.MuiCardHeader-title {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box !important;
}

.MuiButtonBase-root {
  display: block !important;

  text-transform: initial !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.MuiDialog-paper {
  width: 700px;
  height: 610px;
  max-width: 700px !important;
}

.MuiDialogContent-root {
  width: 700px;
  max-width: 700px !important;

  border-color: var(--grey-border) !important;
  background-color: var(--white-bg-text);
}

.MuiDialog-container .MuiTypography-root {
  background-color: var(--white-bg-text);
}

.MuiInputBase-root {
  background-color: transparent !important;
  overflow: hidden;
}

.MuiInputBase-root:hover,
.MuiInputBase-input:focus {
  background-color: var(--bg-input-hover) !important;
}

.MuiInputBase-root::after {
  display: none !important;
}

.MuiInputBase-input::placeholder {
  font-size: 20px !important;
}
.MuiInputBase-input.MuiFilledInput-input {
  font-size: 20px !important;
}

.MuiCircularProgress-root {
  width: 60px !important;
  height: 60px !important;
  display: block !important;
  margin: 100px auto 0 auto;
}

.MuiAlert-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.MuiAlert-icon svg {
  width: 30px;
  height: 30px;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.MuiCardHeader-content .MuiTypography-root {
  font-size: 22px;
}

.MuiCardActions-root .MuiButtonBase-root.MuiButton-text {
  width: 120px;
  font-size: 18px !important;
}

.MuiList-root,
.MuiListItem-root:first-child {
  padding-top: 0 !important;
}

.MuiListItem-root {
  border-top: 1px solid var(--grey-border);
  border-bottom: 1px solid var(--grey-border);
}

.MuiListItem-root:last-child {
  border-bottom: none;
}

.MuiListItem-root:first-child {
  border-top: none;
}

.MuiListItemText-root > p {
  padding-top: 8px;
  text-transform: capitalize;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box !important;
}
